nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: rgba(126, 125, 164, 0.25);
  // opacity: 25%; will need to do this once all the backgrounds are layed out to achive proper color
  div {
    display: flex;
  }

  a, button {
    text-decoration: none;
    display: flex;
    color: #ADABC9;
    letter-spacing: .05em;
    font-size: 1rem;
    padding: 10px 8px;
    background: inherit;
    border: none;
    cursor: pointer;

    &:hover{
      color: #F6A49C;
     }
  }

  .rightbox {
    flex-grow: 2;
    vertical-align: middle;
    display: flex;
    justify-content: flex-end;
  }
}
