<nav>
  <div>
    <a href="/api/landing">Home</a>
    <a href="/api/challenges">Challenge</a>
    <a href="/api/challenges/create">Create</a>
    <a href="/">Rankings</a>
  </div>
  <div class="rightbox">
      <a href="/">Hello Gary</a>
      <a href="/">Logout</a>
  </div>
</nav>
