<nav>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/">Challenge</a>
        <a href="/">Create</a>
        <a href="/">Rankings</a>
        <div class="rightbox">
            <a href="/">Hello Gary</a>
            <a href="/">Logout</a>
        </div>
    </div>
  </nav>
