<nav>
  <div>
    <a href="/">Home</a>
    <a href="/api/challenges">Challenge</a>
    <a class="create" href="/api/challenges/create">Create</a>
    <a href="/api/ranks">Rankings</a>
  </div>
  <div class="rightbox">
    <button id="login-gary" class="login-button" onClick="localStorage.setItem('user_id', 2);">Login Gary</button>
    <button id="login-josh" class="login-button" onClick="localStorage.setItem('user_id', 1);">Login Joshua</button>
    <a id="nav-user" href="/api/users/"></a>
    <button id="logout" class="login-button" onClick="localStorage.removeItem('user_id');">Logout</button>
  </div>
  <script src="/scripts/navbar.js"></script>
</nav>
