<nav>
  <div>
    <a href="/">Home</a>
    <a href="/">Challenge</a>
    <a href="/">Create</a>
    <a href="/">Rankings</a>
  </div>
  <div class="rightbox">
      <a href="/">Hello Gary</a>
      <a href="/">Logout</a>
  </div>
</nav>
