<nav>
  <div>
    <a href="/api/landing">Home</a>
    <a href="/api/challenges">Challenge</a>
    <a href="/api/challenges/create">Create</a>
    <a href="/api/ranks">Rankings</a>
  </div>
  <div class="rightbox">
      <a href="/api/users/2">Hello Gary</a>
      <a id="logout" href="/">Logout</a>
  </div>
</nav>
