<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Create Challenge</title>
  <!--font-->
  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap" rel="stylesheet">
  <!--Stylesheets-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/background/background.css">
  <link rel="stylesheet" href="/styles/nav_bar/navbar.css">
  <link rel="stylesheet" href="/styles/create_challenges.css">
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>
<body class="background-image">
    <% include partials/navbar %>

  <div class="flex-center margin-top">
    <h3>I challenge <input type="reset" id="first-box" class="input-form" onclick="openNav()" value = '...'></input> to </h3>
  </div>
  <div class="flex-center">
    <h3><input type="reset" id="second-box" class="input-form" onclick="openNav2()" value = '...'></input> at
    <input type="reset" id="third-box" class="input-form" onclick="openNav3()" value = '...'></input></h3>
  </div>

  <div class="flex-center">
  <button class="buttonstyle" id="create-challenge-btn"><h4>Create Challenge</h4></button>
  </div>
    <!-- The First overlay -->
    <div id="myNav" class="overlay">
    <div id="topBox" class='top-color'></div>
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!-- Overlay content -->
      <div class="overlay-content">
        <h5 class="top-text">What is the maximum number of challengers you can have?</h5>
          <textarea id="challenge-number" class="form-submit" name="text" placeholder="max occupancy"></textarea>
          <h5 class="or-text">OR</h5>
          <button id ="challenge-everyone" class="everybody"><h6>No limit</h6></button>
        <h5 class="second-form-first-container">What kind of challenge is it?</h5>

        <!--Checkbox containers-->
        <form>
        <label class="container">Physical
            <input type="radio" checked="checked" name="radio" value="Physical">
            <span class="checkmark"></span>
          </label>
          <label class="container">Mental
            <input type="radio" name="radio" value="Mental">
            <span class="checkmark"></span>
          </label>
          <label class="container">Game
            <input type="radio" name="radio" value="Game">
            <span class="checkmark"></span>
          </label>
          <label class="container">Random
            <input type="radio" name="radio" value="Random">
            <span class="checkmark"></span>
          </label>
        </form>
          <!-- Submit button needs to send data to body-->
          <button id="first-submit" class="submit" onclick="closeNav()" type="submit"><h6>Submit</h6></button>
      </div>
    </div>

    <!-- The second overlay -->
    <div id="myNav2" class="overlay">
      <div id="topBox" class='top-color'></div>
      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
      <!-- Overlay content -->
      <div class="overlay-content">
        <h5 class="top-text">Name your challenge!</h5>
        <textarea id="challenge-name" class="form-submit form-submit2" name="text" placeholder="A short name eg: Dino Run"></textarea>
        <h5 class="second-form">Describe your challenge!</h5>
        <textarea id="challenge-description" class="form-submit form-description" name="text" placeholder="What should the Challengers expect?"></textarea>
        <!-- Submit button needs to send data to body-->
        <button id="first-submit" class="submit" onclick="closeNav2()" type="submit"><h6>Submit</h6></button>
      </div>
    </div>

    <!-- The Third overlay -->
    <div id="myNav3" class="overlay">
      <div id="topBox" class='top-color'></div>
      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
      <!-- Overlay content -->
      <div class="overlay-content">
          <h5 class="top-text2">Where will the challenge take place?</h5>
          <!--Google map rendering-->
          <div id="map"></div>
          <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name"  class="title"></span><br>
            <span id="place-address"></span>
          </div>
          <h5 class="location-text">Location:</h5>
          <h5 class="time-text">Time:</h5>
          <input id="pac-input" class="filter-location" type="text" placeholder="Enter a location">
          <input id="date-data" type="date" class="date">
          <!-- Submit button needs to send data to body-->
          <button id="third-submit" class="submit" onclick="closeNav3()" type="submit"><h6>Submit</h6></button>
      </div>
    </div>

<!-- Use any element to open/show the overlay navigation menu -->
<script src="/scripts/create_challenge.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&libraries=places&callback=initMap"
async defer></script>
</body>
</html>
