<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/profile.css">
  <title>Defy | Profile</title>
</head>
<body>
  <div class="user-info">
    <img src="" alt="profile-pic.png">
    <div class="name">
      <button>Edit</button>
      <label>Name: <%= name %></label>
    </div>
    <div class="email">
      <button>Edit</button>
      <label>Email: <%= email %></label>
    </div>
    <div>
      <label>Current Rank: <%= rank %></label>
    </div>
  </div>
  <div class="challenges-info">
    <div class="challenges-tabs">
      <div class="challenges-tab">Tab 1</div>
      <div class="challenges-tab">Tab 2</div>
    </div>
    <div class="Challenges-list">
      <div class="challenge">
        <div class="label"></div>
        <img src="">
        <div class="description"></div>
      </div>
    </div>
  </div>
</body>
</html>
