#challengeinfo {
  width: 500px;
  overflow: auto;
}
.user-info-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;

  >div {
    border: 1px solid red;
    height: 500px;
    width: 300px;
  }
}
.challenge {
  height: 150px;
  border: 1px solid red;
}
.email {
  position: absolute;
  margin-top: 80px;
}
.name {
  position: absolute;
  margin-top: 30px;
}
.rank {
  position: absolute;
  margin-top: 130px;
}
.challenges-tabs {
  display: flex;
  height: 50px;
  width: 100%;
}
.challenges-tab {
  border: 1px solid red;
  padding-right: 30px;
}

.img-nima {
  height: 200px;
  width: 200px;
}


label {
  color: #FFF;
}

div {
  color: #FFF;
}

.hide {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
